@model ShopCartViewModel

	<div class="container">
		@foreach (var item in Model.ShopCart.ListShopItems)
		{
			<div class="alert alert-warining mt-3">
				<b>Car:</b> @item.Car.Name <br />
				<b>Price:</b>@item.Car.Price.ToString("c")
			</div>
		}
		<hr />
		<a class="btn btn-danger mb-5" asp-controller="Order" asp-action="CheckOut">Place Order</a>
	</div>
